version: '3.8'
services:
  mosquitto:
    image: eclipse-mosquitto:2.0
    ports:
      - "1883:1883"
      - "8883:8883"
    volumes:
      - ./infra/mosquitto:/mosquitto/config
      - ./infra/certs:/mosquitto/certs
    restart: unless-stopped
