name: MkDocs Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy-docs:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install MkDocs
      run: |
        pip install mkdocs mkdocs-material

    - name: Build and Deploy
      run: |
        mkdocs build
      # Optional: Add deployment steps for GitHub Pages or other hosting
